[Service]
{% if not crio_proxies.http_proxy is none %}
Environment=http_proxy={{ crio_proxies.http_proxy }}
{% endif %}
{% if not crio_proxies.https_proxy is none %}
Environment=https_proxy={{ crio_proxies.https_proxy }}
{% endif %}
{% if not crio_proxies.no_proxy is none %}
Environment=no_proxy={{ crio_proxies.no_proxy }}
{% endif %}
